/* Media queries */

@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}

@mixin boton($bgColor, $color) {
    background-color: $bgColor;
    color: $color;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: $radius;
    font-size: 1rem;
    padding: 1rem 0;
}