/* Fuentes */

$fuentePrincipal: Arial,
Helvetica,
sans-serif;

/* Media Queries */

$telefono: 480px;
$tablet: 768px;
$deskttop: 1200px;

/* Colores */

$primario: #E50914;
$secundario: #E87C03;
$gris: #323232;
$gris2: #8C8C8C;
$gris3: #454545;
$blanco: #FFFFFF;
$negro: #000000;